<app-navflow items="{{navItems | json}}"></app-navflow>
<div>
  <div flex>
    <div class="card-container" fxLayout="row" fxLayoutGap="20px">
      <div fxFill fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="8px">
        <div fxFlex="calc(30% -4px)" fxFlex.lt-md="calc(100% -4px)">
          <mat-card class="mat-elevation-z0">

            <form [formGroup]="form" autocomplete="off">
              <div style="margin-top: 15px;">
                <div fxLayout="row wrap" fxLayoutAlign="start top">
                  <mat-form-field fxFlex="50" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Nome
                    </mat-label>
                    <input type="text" name="name" maxlength="150" formControlName="name" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="50" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>CPF
                    </mat-label>
                    <input type="text" name="federalId"  [textMask]="maskCPF" maxlength="150" formControlName="federalId" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      CPF inválido.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start top">
                  <mat-form-field fxFlex="50" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Sobrenome
                    </mat-label>
                    <input type="text" name="lastName" maxlength="150" formControlName="lastName" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="50" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Nacionalidade
                    </mat-label>
                    <input type="text" maxlength="100" name="nacionality" formControlName="nationality" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start top">
                  <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>CEP
                    </mat-label>
                    <input type="text" name="zipCode" formControlName="zipCode" maxlength="10" matInput
                      (blur)="searchCep()">
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="state">
                      <mat-option [value]="null">Estado</mat-option>
                      <mat-option value="AC">Acre</mat-option>
                      <mat-option value="AL">Alagoas</mat-option>
                      <mat-option value="AP">Amapá</mat-option>
                      <mat-option value="AM">Amazonas</mat-option>
                      <mat-option value="BA">Bahia</mat-option>
                      <mat-option value="CE">Ceará</mat-option>
                      <mat-option value="DF">Distrito Federal</mat-option>
                      <mat-option value="ES">Espírito Santo</mat-option>
                      <mat-option value="GO">Goiás</mat-option>
                      <mat-option value="MA">Maranhão</mat-option>
                      <mat-option value="MT">Mato Grosso</mat-option>
                      <mat-option value="MS">Mato Grosso do Sul</mat-option>
                      <mat-option value="MG">Minas Gerais</mat-option>
                      <mat-option value="PA">Pará</mat-option>
                      <mat-option value="PB">Paraíba</mat-option>
                      <mat-option value="PR">Paraná</mat-option>
                      <mat-option value="PE">Pernambuco</mat-option>
                      <mat-option value="PI">Piauí</mat-option>
                      <mat-option value="RJ">Rio de Janeiro</mat-option>
                      <mat-option value="RN">Rio Grande do Norte</mat-option>
                      <mat-option value="RS">Rio Grande do Sul</mat-option>
                      <mat-option value="RO">Rondônia</mat-option>
                      <mat-option value="RR">Roraima</mat-option>
                      <mat-option value="SC">Santa Catarina</mat-option>
                      <mat-option value="SP">São Paulo</mat-option>
                      <mat-option value="SE">Sergipe</mat-option>
                      <mat-option value="TO">Tocantins</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field fxFlex="34" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Cidade
                    </mat-label>
                    <input type="text" name="city" maxlength="150" formControlName="city" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start top">
                  <mat-form-field fxFlex="100" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Logradouro
                    </mat-label>
                    <input type="text" name="address" maxlength="200" formControlName="address" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="start top">
                  <mat-form-field fxFlex="50" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>E-mail
                    </mat-label>
                    <input type="text" name="email" maxlength="100" autocomplete="off" formControlName="email" matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      E-mail inválido
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="50" fxFlex.lt-md="100" appearance="outline">
                    <mat-label>Telefone
                    </mat-label>
                    <input type="text" name="phone" [textMask]="maskPhone" autocomplete="off" formControlName="phone"
                      matInput>
                    <mat-error *ngIf="formControls.name.invalid">
                      Campo obrigatório
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.gt-sm="end">
                <div>
                  <button style="width: 100px" class="btn" type="button" fxLayoutAlign="center center" (click)="save()">
                    Salvar
                  </button>
                </div>
                <div fxFlexOffset="1">
                  <button style="width: 100px" class="btn danger" type="button" fxLayoutAlign="center center"
                    (click)="reset()">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-container">
  <mat-card class="tree-grid">
    <div style="margin-top: 30px">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Nome </th>
              <th>Sobre Nome</th>
              <th>Nacionalidade</th>
              <th>CEP</th>
              <th>Estado</th>
              <th>Cidade</th>
              <th>Logradouro</th>
              <th>E-mail</th>
              <th>Telefone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="persons?.length == 0 || persons == null">
              <td colspan="22" class="no-data-found">
                Nenhum registro foi encontrado
              </td>
            </tr>
            <ng-container *ngFor="let p of persons">
              <tr>
                <td>{{p.name}}</td>
                <td>{{p.lastName}}</td>
                <td>{{p.nationality}}</td>
                <td>{{p.zipCode}}</td>
                <td>{{p.state}}</td>
                <td>{{p.city}}</td>
                <td>{{p.address}}</td>
                <td>{{p.email}}</td>
                <td>{{p.phone}}</td>
                <td style="text-align: right">
                  <button matTooltip="Editar" matTooltipPosition="left" style="float: none" type="button"
                    class="grid-button">
                    <mat-icon class="icon-check" (click)="edit(p)">edit</mat-icon>
                  </button>
                  <button matTooltip="Excluir" matTooltipPosition="left" style="float: none" type="button"
                    class="grid-button danger">
                    <mat-icon (click)="delete(p.id)">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
    <mat-paginator [length]="pageable.recordCount" [pageSize]="pageable.pageSize" (page)="onPageChange($event)"
      [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </mat-card>
</div>