.nav-flow {
    height: 32px !important;
    background: transparent linear-gradient(90deg, #30804e 0%, #3ba462 100%) 0% 0% no-repeat padding-box;
    color: white;
    padding-left: 15px;
    margin-top: 20px !important;
}
a {
    color: white;
    text-decoration: none;
}